body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
a,
input,
button {
	padding: 0;
	margin: 0;
	font-family: $fontLight;
}
a,
li {
	text-decoration: none;
	list-style-type: none;
	color: #fff;
}

