@font-face {
    font-family: 'FuturaNewMediumReg';
    src: url('../fonts/FuturaNewMediumReg.eot');
    src: url('../fonts/FuturaNewMediumReg.eot') format('embedded-opentype'),
         url('../fonts/FuturaNewMediumReg.woff2') format('woff2'),
         url('../fonts/FuturaNewMediumReg.woff') format('woff'),
         url('../fonts/FuturaNewMediumReg.ttf') format('truetype'),
         url('../fonts/FuturaNewMediumReg.svg#FuturaNewMediumReg') format('svg');
}

@font-face {
    font-family: 'FuturaNewLight';
    src: url('../fonts/FuturaNewLight.eot');
    src: url('../fonts/FuturaNewLight.eot') format('embedded-opentype'),
         url('../fonts/FuturaNewLight.woff2') format('woff2'),
         url('../fonts/FuturaNewLight.woff') format('woff'),
         url('../fonts/FuturaNewLight.ttf') format('truetype'),
         url('../fonts/FuturaNewLight.svg#FuturaNewLight') format('svg');
}

@font-face {
    font-family: 'FuturaNewBook';
    src: url('../fonts/FuturaNewBook.eot');
    src: url('../fonts/FuturaNewBook.eot') format('embedded-opentype'),
         url('../fonts/FuturaNewBook.woff2') format('woff2'),
         url('../fonts/FuturaNewBook.woff') format('woff'),
         url('../fonts/FuturaNewBook.ttf') format('truetype'),
         url('../fonts/FuturaNewBook.svg#FuturaNewBook') format('svg');
}

@font-face {
    font-family: 'FuturaNewDemi';
    src: url('../fonts/FuturaNewDemi.eot');
    src: url('../fonts/FuturaNewDemi.eot') format('embedded-opentype'),
         url('../fonts/FuturaNewDemi.woff2') format('woff2'),
         url('../fonts/FuturaNewDemi.woff') format('woff'),
         url('../fonts/FuturaNewDemi.ttf') format('truetype'),
         url('../fonts/FuturaNewDemi.svg#FuturaNewDemi') format('svg');
}
